<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myddc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>myddc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>myddc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$myddc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=52.179.122.143;Initial Catalog=ddc;User ID=serverddc;Password=Scan$7000000;Encrypt=True;TrustServerCertificate=True;Authentication=&quot;Sql Password&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ddcSite.Models.ApplicationDbContext, ddcSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ddcEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=52.179.122.143;Initial Catalog=ddc;User ID=serverddc;Password=Scan$7000000;Encrypt=True;TrustServerCertificate=True;Authentication=&quot;Sql Password&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ddcSite.db.ddcEntities, ddcSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>CreateSeparateAssembly</WDPMergeOption>
    <UseFixedNames>True</UseFixedNames>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ddcEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/db.dbModel.csdl|res://*/db.dbModel.ssdl|res://*/db.dbModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=52.179.122.143;Initial Catalog=ddc;User ID=serverddc;Password=Scan$7000000;Encrypt=True;TrustServerCertificate=True;Authentication="Sql Password"'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.179.122.143;Initial Catalog=ddc;User ID=serverddc;Password=Scan$7000000;Encrypt=True;TrustServerCertificate=True;Authentication="Sql Password"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>